<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<h1>New Events</h1>

<%# <%= form_with(@event, url: path, method: method) do |f| %>

  <%# <label class="control-label" for="">練習日</label> %>
  <%# <%= f.date_select :date, {}, class: 'form-control' %> %>

<%# <% end %> %> %>

<%= render 'form', event: @event %>

<%= link_to 'Back', events_path %>
